@import url('./assets/css/ready.css');
@import url('./assets/css/common.css');
@import url('./assets/css/communication.css');
@import url('./assets/css/contact.css');
@import url('./assets/css/footer.css');
@import url('./assets/css/header.css');
@import url('./assets/css/lines.css');
@import url('./assets/css/orders.css');
@import url('./assets/css/partners.css');
@import url('./assets/css/seamless.css');
@import url('./assets/css/title.css');


* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}
button, a {
  cursor: pointer;
  z-index: 1;
}


@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: 768px;
  }
}