.lines {
  position: absolute;
  background-image: url(../img/lines-copy-3@3x.png), url(../img/lines_2@3x.png),
    url(../img/lines@3x.png);
  background-size: 598px 787px, 958px 1470px, 369px 759px;
  background-position: top 7px left 592px, top 807px left 226px,
  bottom 156px left 314px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 1;
}

@media (max-width: 1279px) {
  .lines {
    background-size: 598px 787px, 958px 1450px, 369px 759px;
    background-position: top 7px left 592px, top 807px left 226px,
      bottom 156px left 318px;
  }
}
@media (max-width: 1023px) {
  .lines {
    background-image: url(../img/lines-copy-3@3x.png),
      url(../img/lines_2@3x.png);
    background-size: 598px 787px, 958px 1630px;
    background-position: top 7px left 592px, top 807px left 226px;
  }
}
@media (max-width: 767px) {
  .lines {
    display: none;
  }
}
