.seamless__text {
  margin-top: 127px;
  margin-bottom: 78px;
  display: flex;
  height: 103px;
  justify-content: space-between;
}

.seamless__text h2 {
  max-width: 440px;
}
.seamless__text p {
  align-self: flex-end;
  max-width: 430px;
}

.seamless__screens {
  display: flex;
  justify-content: space-between;
  margin-bottom: 122px;
}

.screen {
  position: relative;
  background-color: #e1eff0;
  width: 316px;
  height: 552px;
  border-radius: 52px;
}
.screen__img {
  width: 309px;
  margin-left: -38px;
  margin-top: 38px;
}

.screen__descr {
  opacity: 0.4;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #21272e;
  display: flex;
  position: relative;
  width: 100%;
  top: -42px;
  justify-content: center;
}

.screen__descr img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1279px) {
  .screen {
    width: 256px;
    height: 464px;
  }
  .screen__img {
    width: 250px;
    margin-left: -34px;
    margin-top: 32px;
  }
  .seamless__screens {
    justify-content: space-around;
    margin: 0 48px;
  }
  .seamless__text {
    margin-left: 69px;
    margin-right: 20px;
  }
}
@media (max-width: 1023px) {
  .seamless__text {
    margin: 96px auto 10px;
    flex-direction: column;
    text-align: center;
  }
  .seamless__text h2 {
    max-width: 768px;
    margin-bottom: 24px;
    margin: 0 auto 24px;
  }
  .seamless__text p {
    align-self: center;
  }
  .seamless__screens {
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
  }
  .screen {
    width: 411px;
    height: 718px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .screen__img {
    width: 402px;
    margin-left: -56px;
    margin-top: 32px;
  }
  .screen__descr {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chevron {
    transform: rotateZ(90deg);
  }
  .seamless {
    padding-bottom: 166px;
  }
}
@media (max-width: 767px) {
  .seamless {
    padding-bottom: 98px;
  }
  .seamless__text {
    margin-top: 60px;
  }
  .screen {
    width: 265px;
    height: 464px;
    margin-bottom: 0;
  }
  .screen__img {
    width: 252px;
    margin-left: -30px;
  }
  .seamless__screens {
    margin-top: 170px;
  }
  .screen__descr {
    font-size: 14px;
  }
}
